
#header .menu ul{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(30%, 2fr));
	grid-gap: 30px;
}

#reservations ul{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(100%, 2fr));
	grid-gap: 40px;
}

#pre-footer ul{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(100%, 2fr));
}
#header .button-list ul{
	display: grid;
	justify-items: stretch;
}

#header .button-list ul a{
	margin-right: 0px;
	margin-left: 0px;
}
.nav{
	margin-bottom: 130px;
}
.menu ul li div {
	display: none;
}
.menu ul li a:hover + div{
	display: block;
}
.menu ul li a{
font-size: 30px;	
}
body{
	width: 132%;
}
h1{
	font-size: 24px;
}
.head p{
	font-size: 15px;
}
.button-list a{
	font-size: 10px;
}

.rotate{
	margin-top: 15px;
}

#menu p{
	font-size: 60%;
}
#about-section p{
	font-size: 150%;
	line-height: 40px;
}
#about-section h4 {
    padding-top: 40px;
    font-size: 35px;
}
#menu p,  #about-section p{
	text-align: justify;
}
.about-restaurant .read-more-btn{
	margin-top: 20px;
}

.events .data{
	font-size: 10px;
}
.events .time{
	font-size: 26px;
}

.form-section form a{
	text-align: center;
}
#about-section a,#menu a,.btn, .footer-nav, .button-list ul li a{
	font-size: 18px;
}
.events div a {
	margin-top: 30px;
	margin-bottom: 55px;
}

h6{
	font-size: 14px;
	margin-bottom: 20px;
}

.img-user-icon{
	top: 98px;
	left: 780px;
}

.reservations .img-date-icon
{
	top: 180px;
	left: 780px;
}

.reservations .img-time-icon
{
	top: 258px;
	left: 780px;
}
.events .img-date-icon{
	top: 62px;
	left: 121px;
}

.events .img-time-icon{
	top: 6px;
	left: -18px;
}
.img-commensals-icon{
	top: 337px;
	left: 780px;
}

.date{
	font-size: 15px;
}
.time{

	top: 57px;
	left: 362px;
}

.pre-footer-btn{
	width: 33%;
}

#pre-footer .choose{
	display: none;
}

#pre-footer .img-twitter-icon{
	left: 163px;
}
#pre-footer .img-facebook-icon{
	left: 9px;
}
#pre-footer .img-share-icon{
	top: 15px;
}

.btn-facebook, .btn-tweet{
	padding:  8 22 8 28px;

}
.btn-facebook a, .btn-tweet a{
	font-size: 24px;
}
.img-link{
	top: 220px;
}
#footer ul{
	margin-left: 150px;
}

#footer h7{
	font-size: 26px;
}
#footer ul li a, #footer p, #footer p a{
	font-size: 24px;
}

#footer p{
	line-height: 30px;
}

.contact{
	width: 35%;
}